@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

.theme-default-content code
  font-family: 'Roboto Mono', monospace;
  // font-size 80%
  // line-height: 1.3

.theme-default-content pre[class*="language-"]
  margin 1.5em 0
