.theme-default-content:not(.custom) > h1:first-child
  margin 2rem 0 1rem

  & + p
    margin 1em 0

.theme-default-content:not(.custom)
  > h2
    padding-top: 3em

  > h3
    padding-top: 3.5em

h1
  border-bottom 1px solid #eaecef
  font-size 2.441em
  font-weight 625
  letter-spacing: -0.5px
  padding-bottom: 0.5rem

h2
  font-size: 1.953em
  margin-bottom: 0.5em

h3
  color: #405264
  font-size: 1.563em

h4
  font-size: 1.25em
