// Fonts
@import url('https://rsms.me/inter/inter.css');
.theme-container { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  .theme-container {
    font-family: 'Inter var', sans-serif;
  }
}

// Sidebar
.sidebar ul.sidebar-sub-headers
  font-size: 1em
  padding-left: 0.75rem

  a.sidebar-link
    padding-top: 0.35rem
    padding-bottom: 0.35rem
    padding-left: 2rem
    border-left: 0.25rem solid transparent
  
  > a.sidebar-link
    color: #465869

  .sidebar-sub-headers a.sidebar-link
    color: #657686

// Danger block
.custom-block-title
  letter-spacing 1px
  font-size 14px
  font-weight: 550

.custom-block.danger,
.custom-block.tip,
.custom-block.warning
  border-radius 3px
  border-left-width 6px
  margin: 2rem 0


// Search
div.search-box
  input 
    background-color: #f8f8fa
    border 1px solid #e5e8ee
    border-radius 3px
    font-family: inherit


// Clean up headings
.theme-default-content:not(.custom) > h1:first-child
  margin 2rem 0 1rem

  & + p
    margin 1em 0

.theme-default-content:not(.custom)
  > h2
    padding-top: 3em

  > h3
    padding-top: 4em

h1
  border-bottom 1px solid #eaecef
  font-size 2.441em
  font-weight 625
  letter-spacing: -0.5px
  padding-bottom: 0.25rem

h2
  font-size: 1.953em
  margin-bottom: 0.5em

h3
  color: #405264
  font-size: 1.563em

h4
  font-size: 1.25em

p
  line-height: 1.8

a
  font-feature-settings: 'liga' 0