.custom-block-title
  letter-spacing 1px
  font-size 14px
  font-weight: 550

.custom-block.danger,
.custom-block.tip,
.custom-block.warning
  border-radius 3px
  border-left-width 6px
  margin: 1.5rem 0