.sidebar ul.sidebar-sub-headers
  font-size: 1em
  padding-left: 0.75rem

  a.sidebar-link
    padding-top: 0.35rem
    padding-bottom: 0.35rem
    padding-left: 2rem
    border-left: 0.25rem solid transparent
  
  > a.sidebar-link
    color: #506172

  .sidebar-sub-headers a.sidebar-link
    color: #657686

p.sidebar-heading
  font-weight 600