@import url('https://rsms.me/inter/inter.css');
.theme-container { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  .theme-container {
    font-family: 'Inter var', sans-serif;
  }
}